.App {
  font-family: sans-serif;
  text-align: center;
}

.search-bar {
  padding: 5px;
  width: 270px;
}

.container {
  margin: 0 auto;
  border: 1px solid black;
  width: 280px;
  max-height: 500px;
  overflow-y: scroll;
}

.container div {
  padding: 5px;
  margin: 2px;
  text-align: left;
  gap: 10px;
}

.container div:hover {
  background-color: moccasin;
  cursor: pointer;
}
